.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  margin: 50px auto auto;
  color: #3a54fb;
}

.section-content {
  font-size: 25px;
  width: 55%;
  margin: 25px auto 50px;
  line-height: 1.8;
}

.section-coloured-bg {
  background-color: #e7edfa;
}
