.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 3.125rem;
  font-weight: bold;
  margin: 3.125rem auto auto;
  color: #3a54fb;
}

.section-content {
  font-size: 1.5625rem;
  width: 65%;
  margin: 1.5625rem auto 3.125rem;
  line-height: 1.8;
}

.section-coloured-bg {
  background-color: #e7edfa;
}
