.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  background-color: #3a54fb;
  font-size: 1.5625rem;
  font-weight: bold;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-title {
  color: white;
  text-align: center;
  font-size: 5.5rem;
  margin: auto;
}
.welcome-text {
  color: white;
  font-size: 2.5rem;
  margin: 1.25rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24.9375rem;
  padding-bottom: 20.9375rem;
}
