.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #3a54fb;
  font-size: 25px;
  font-weight: bold;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-title {
  color: white;
  text-align: center;
  font-size: 88px;
  margin: auto;
}
.welcome-text {
  color: white;
  font-size: 40px;
  margin: 20px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 399px;
  padding-bottom: 335px;
}
